# General
.DS_Store
Thumbs.db
dist/
build/
*.log
*.tmp
*.swp
*.swo
*.bak
node_modules/
venv/
.venv/
.pytest_cache/
__pycache__/
*.pyc

# Python
.mypy_cache/
.tox/
.coverage
.coverage.*
coverage.xml
htmlcov/

# Django
staticfiles/
media/
db.sqlite3
*.sqlite*

# Env
.env
.env.*.local
.env.local
.env.*
!**/.env.example
*.pem
*.key
*.crt
*.pfx
*.p12
*.cert

# IDE
.idea/
.vscode/

# Docker
docker-data/

# Local backups
backup/
.backup/

# Astro cache
**/.astro/

